@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Kalam:wght@300;400;700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
.josefin-sans-regular-italic {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.zooHeader {
  /* border: 0.25rem solid orange; */
  padding: 0.25rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--);
  display:flex;
  align-items: center;
  justify-content: space-between; 
  background-color: rgba(255, 255, 255, 0.87);
  color:#050203;
}
.BAR {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.HAMBURGER-ICON.active .BAR:nth-child(2) {
  opacity: 0;
}
.HAMBURGER-ICON.active .BAR:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}
.HAMBURGER-ICON.active .BAR:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.hideNavMenu {
  display: none;
}

.showNavMenu {
  display: block;
}
